{{> header}}
{{> normal_container}}
<style>
#editor {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 500px;
}
</style>

	<div>
		<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	        <li class="active"><a href="#configview" data-toggle="tab">Configuration</a></li>
	    </ul>
	    <div id="my-tab-content" class="tab-content">
	    
	        <div class="tab-pane active" id="configview">
	            <div class="page-header">
				  <h1>Configuration Viewer</h1>
				</div>
	            
	            <div id="react_configuration_container">
				    <!-- react to replace -->
				</div>
				
	        </div><!-- end configview -->
	        
	    </div>
	</div>
	
{{> footer}}